@import "tailwindcss";

@theme {
  --color-primary-500: #ff5252;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #f5f0f0;
  color: #3e3e3e !emportant;
}

p {
  font-size: 14px !important;
  line-height: 25px !important;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

::-webkit-scrollbar-thumb {
  background: #ff5252;
}

::-webkit-scrollbar-track {
  background: #fff;
}

.scroll::-webkit-scrollbar {
  width: 5px !important;
}

.scroll::-webkit-scrollbar-thumb {
  background: #ccc !important;
}

.container {
  width: 95%;
  margin: auto;
}

.link:hover {
  color: #ff5252;
}

.MuiBadge-badge {
  background-color: #ff5252 !important;
}

nav button {
  text-transform: capitalize !important;
}

.swiper-button-prev,
.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 100% !important;
  width: 45px !important;
  height: 45px !important;
  min-height: 45px !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 22px !important;
  color: #000;
}

,
.homeCatSlider .swiper-button-prev {
  width: 30px !important;
  height: 30px !important;
  min-height: 30px !important;
}

.homeCatSlider .swiper-button-next {
  width: 30px !important;
  height: 30px !important;
  min-height: 30px !important;
}

.homeCatSlider .swiper-button-prev:after {
  font-size: 18px !important;
}

.homeCatSlider .swiper-button-next:after {
  font-size: 18px !important;
}

.homeCatSlider .item {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.homeCatSlider .item:hover img {
  transform: scale(1.3);
}

.MuiTabs-indicator {
  background-color: #ff5252 !important;
}

.MuiTab-textColorPrimary.Mui-selected {
  color: #ff5252 !important;
}

.ProductsSlider .swiper-wrapper {
  padding: 15px;
  margin-left: -15px;
  margin-right: -15px;
}

.btn-org {
  background: #ff5252 !important;
  color: #fff !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  padding: 7px 20px !important;
}

.btn-org:hover {
  background: #171717 !important;
}

.btn-lg {
  font-size: 18px;
  padding: 10px 20px !important;
}

.btn-sm {
  font-size: 12px !important;
  padding: 5px 20px !important;
}

.btn-org.btn-border {
  background: none !important;
  color: #ff5252 !important;
  border: 1px solid #ff5252 !important;
  font-weight: 500;
  font-size: 16px;
  padding: 8px 20px !important;
}

.btn-org.btn-border:hover {
  background: #171717 !important;
  color: #fff !important;
}

footer from input::placeholder {
  font-size: 7px !important;
}

.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: #ff5252 !important;
}

.css-rizt0-MuiTypography-root {
  font-size: 13px !important;
  color: rgba(0, 0, 0, 0.8);
}

.swiper-pagination-bullet-active {
  background: #ff5252 !important;
}

.homeSliderV2 .swiper-slide-active .info {
  right: 0px !important;
  opacity: 1;
}

.homeSliderV2 .swiper-slide-active .info h4 {
  right: 0px !important;
  opacity: 1;
}

.homeSliderV2 .swiper-slide-active .info h2 {
  right: 0px !important;
  opacity: 1;
}

.homeSliderV2 .swiper-slide-active .info h3 {
  right: 0px !important;
  opacity: 1;
}

.homeSliderV2 .swiper-slide-active .info .btn_ {
  bottom: 0px !important;
  opacity: 1;
}

.homeSliderV2 .info h4 {
  transition-duration: 2s;
}

.homeSliderV2 .info h2 {
  transition-duration: 2.5s;
}

.homeSliderV2 .info h3 {
  transition-duration: 3s;
}

.homeSliderV2 .info .btn_ {
  transition-duration: 3.5s;
}

.MuiCheckbox-root {
  padding: 6px !important;
}

.ReactCollapse--collapse {
  transition: height 400ms;
}

.itemViewActions button.active svg {
  color: #ff5252 !important;
  opacity: 1;
}

.Mui-selected.MuiPaginationItem-page {
  background: #ff5252 !important;
  color: #fff;
}

.zoomProductSliderThumbs .swiper-wrapper {
  padding-top: 38px !important;
}

.zoomProductSliderThumbs .swiper-button-next {
  bottom: 0 !important;
  right: inherit !important;
  top: inherit !important;
  width: 100% !important;
  border-radius: 0px !important;
  height: 30px !important;
}

.zoomProductSliderThumbs .swiper-button-prev {
  top: 20px !important;
  left: 0 !important;
  width: 100% !important;
  border-radius: 0px !important;
}

.zoomProductSliderThumbs .swiper-button-prev:after {
  transform: rotate(90deg);
}

.zoomProductSliderThumbs .swiper-button-next:after {
  transform: rotate(90deg);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.cartPanel .MuiPaper-root {
  width: 400px !important;
  overflow: hidden !important;
}

#size-menu .MuiButtonBase-root {
  font-size: 12px !important;
}

.otpBox input {
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
  outline: none !important;
  border-radius: 4px;
}

.otpBox input:focus {
  border: 1px solid rgba(0, 0, 0, 0.7) !important;
}

.otpBox .container {
  height: 90vh !important;
  display: flex;
}

.css-1kfabtt-MuiFormLabel-root-MuiInputLabel-root {
  font-size: 13px !important;
}

#account-menu .MuiPaper-root {
  width: 200px !important;
}

.myAccountTabs li a {
  position: relative;
  display: block;
}

.myAccountTabs li a:before {
  content: "";
  width: 3px;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 0px;
  background: #ff5252;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.myAccountTabs li a.active::before {
  height: 100%;
  opacity: 1;
  top: 0px;
}

.myAccountTabs li a.active button svg {
  color: #ff5252 !important;
  opacity: 1;
}
